.title {
    color: #ffffff;
    line-height: 1.2em;
}


html,
body {
    margin: 0;
    

}
.container{padding: 2%;}

.nav-link {
    color: white;

}

.box {
    height: 200px;
    width: 200px;
}


.text {
    font-size: larger;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button>a {
    font-size: auto;
    color: black;
    text-decoration: none;

}

.navbar-fixed-top.scrolled {
    background-color: rgb(0, 0, 0) !important;
    opacity: 80%;
    transition: background-color 200ms linear;
}

.background-info-section {
    background-image: url('assets/road.jpg');
    background-size: cover;
    height: 680px;
    padding-top: 80px;
    filter: brightness(30%);
    transition: all 0.5s ease;


}
.card {
    padding: 10%;
}
#navbar-rastrek-section,#navbar-licenciamento-section {
    cursor: pointer;
}
#navbar-rastrek-section>.active {

    color: #FFB402;
    font-weight: 600;
    
}
#navbar-licenciamento-section>.active {
    cursor: pointer;

    color: #FFB402;
    font-weight: 600;
    
}

/* .banner-title {
    color: #FFB402;
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 5px 5px #000000;
    padding: 0;
    margin: 0;
    line-height: 1;
} */

/* .banner-subtitle {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 5px 5px #000000;
} */


.main-banner {
    background-image: url('assets/road.jpg');
    background-size: cover;
    height: 680px;
    padding-top: 80px;

}

.banner-number>a {
    color: #FFB402;

    font-family: "Montserrat", Sans-serif;
    font-size: 37px;
    font-weight: 600;
    text-shadow: -1px 0px 4px rgb(15 14 6 / 91%);
    text-decoration: none;
    transition: all 0.2s ease;

}

.banner-number>a:hover {


    font-size: 40px;

}


.brasil-roubado {
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}




.agenda-button {
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    fill: #000000;
    color: #000000;
    background-color: #FFB500;
    border-radius: 0;
    font-size: 15px;
    transition: all 0.2s ease;


}

.agenda-button:hover {

    fill: #ffffff;
    color: #ffffff;
    font-size: 18px;


}

.navbar-nav>.active a {
    color: white;
}

.card-section {
    background-color: #171C20;
    color: white;
    transition: all 0.2s ease;

}

.card-section:hover {

   filter: brightness(170%);


}

.card-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 22px;
    font-weight: 700;
}