.banner-title {
    color: #FFB402;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 5px 5px #000000;
}



.banner-subtitle {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 5px 5px #000000;
}

.button-text {
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s ease;
}

h4 {
    font-size: 24px;
}

.button-text:hover {
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition: all 0.2s ease;
}

#mySlider {
    overflow: hidden;
    position: relative;
    text-align: center;

    width: 100%;
    height: 800px;
}

.singleSlide {
    background-size: cover;
    height: 800px;
    box-sizing: border-box;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0px;
}

.slideOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
    line-height: 50px;
}

#sliderNav {
    position: relative;
    top: -225px;
    z-index: 999;
    font-size: 42px;
}

#sliderNav:hover {
    cursor: pointer;
}

#sliderPrev {
    position: relative;
    float: left;
    left: 50px;
}

#sliderNext {
    position: relative;
    float: right;
    right: 50px;
}

@-webkit-keyframes slideIn {
    100% {
        left: 0;
    }
}

@keyframes slideIn {
    100% {
        left: 0;
    }
}

.slideInRight {
    left: -100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}

.slideInLeft {
    left: 100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
    100% {
        left: -100%;
    }
}

@keyframes slideOutLeft {
    100% {
        left: -100%;
    }
}

.slideOutLeft {
    -webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
    100% {
        left: 100%;
    }
}

@keyframes slideOutRight {
    100% {
        left: 100%;
    }
}

.slideOutRight {
    -webkit-animation: slideOutRight 1s forwards;
    animation: slideOutRight 1s forwards;
}